.game_board{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 500px;
  aspect-ratio: 1;
  border: 1px solid brown;
}

.cell{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rebeccapurple;
  cursor: pointer;
}